VITE_BACKEND_URL=http://localhost
VITE_JWT_SECRET=SECRET_KEY_HERE

VITE_FIREBASE_API_KEY="KEY_HERE"
VITE_FIREBASE_AUTH_DOMAIN="DOMAIN_HERE"
VITE_FIREBASE_PROJECT_ID="PROJECT_ID_HERE"
VITE_FIREBASE_STORAGE_BUCKET="STORAGE_BUCKET_HERE"
VITE_FIREBASE_MESSAGING_SENDER_ID="SENDER_ID_HERE"
VITE_FIREBASE_APP_ID="APP_ID_HERE"
VITE_FIREBASE_MEASUREMENT_ID="G-MEASUREMENT_ID_HERE"